
.icon-bar {
border:2px solid white;
}

/*img #logo{


}*/
#navbar a:hover,
#navbar a:focus {
	background-color:#F57E37;
	color:white
}


.jumbo{
	display:flex;
	margin-left:25%;
}
.bloc{

	align-items: center;
}

.container3 {
	
 margin-left: 25%;
 display:flex;
 padding:auto;
 position:relative;
}
.container4{
display:flex;
}

.container5{
display:flex;
}
.bloctexte h3{
	float:right;

}
#jumble{
	background-image: url("../img/image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid red;
	height: 700px;
	width: auto;
	padding-left: 50px;
}
/*commit*/

#btn1{
	background-color:#F57E37;
	border:1px solid #F57E37;
	width: 15vw;
	height:5vh;inline-78vw;

}
#nav , a{
  float:right;
  text-decoration: none;
  word-spacing: normal;
}



#logos{
  margin-left:10%;
  float:left;
}

.container2{
	display:flex;
}
.stitre{
	padding-left: 25%;
}

#navbar2 a{
	background-color:transparent;
color:black;
text-align: center;
}
#navbar2 a:hover,
#navbar2 a:focus {
	background-color:#F57E37;
	border:1px solid black;
	color:black;
}


}
>>>>>>> origin/master
ul {
  display:flex;
  float:right;

}

li {
  text-decoration: none;

}

h1 .titre {
  color:white;
}

.sous-titre{
color:white;
}

#logo{
  margin:12.5%
}
