.icon-bar {
border:2px solid white;
}


#navbar a:hover,
#navbar a:focus {
	background-color:#F57E37;
	color:white
}


.jumbo{
	display:flex;
	margin-left:25%;
}

.container2{
 margin-left: 25%;
}
#jumble{
	background-image: url("../img/image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid red;
	height: 700px;
	width: auto;
	padding-left: 50px;
}
/*commit*/

#btn1{
	background-color:#F57E37;
	border:1px solid #F57E37;
	width: 15vw;
	height:5vh;
}
.logos{
	float: left;
	margin-left: -78vw;

}
#nav , a{
  float:right;
  text-decoration: none;
  word-spacing: normal;
}



#logos{
  margin-left:10%;
  float:left;
}


>>>>>>> origin/master
ul {
  display:flex;
  float:right;

}

li {
  text-decoration: none;

}

h1 .titre {
  color:white;
}

.sous-titre{
color:white;
}

#logo{
  margin:12.5%
}
