.icon-bar {
border:2px solid white;
}

#navbar a:hover,
#navbar a:focus {
	background-color:#F57E37;
	color:white
}


.stitre h3{
	text-align:center;
}

.jumbo{
	display:flex;
	margin-left:25%;
}
.bloc{

	align-items: center;
}
.container11{

padding-left:25%;
padding-right:25%;
display:flex;
flex-direction: block;
text-align:center;
}
.container22{
padding-left:25%;
padding-right:25%;
display:flex;
flex-direction: block;
text-align:center;
}

.container33{
	margin-left:20%;

}


.container33 img{

max-width:300px;
max-height:300px;
	flex-direction:block;
}

.container44{
margin-left:20%;
}

*{border:1px solid black;}


.container44 img{

	max-width:300px;
	max-height:300px;
	flex-direction:block;
}


.container66 img{
	display:flex;
	align-content: space-between;
}
#honest{
	background-color:#F57E37;
	border:1px solid black;
	background-size: cover;
	height:200px;
}
.static{
	background-image: url("../img/image2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: auto;

}

#jumble{
	background-image: url("../img/image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: auto;

}
/*commit*/

#btn1{
	background-color:#F57E37;
	border:1px solid #F57E37;
	width: 15vw;
	height:5vh;inline-78vw;

}
#nav , a{
  float:right;
  text-decoration: none;
  word-spacing: normal;
}



#logos{
  margin-left:10%;
  float:left;
}

.container2{
	display:flex;
}
.stitre1{
	padding-left:25%;
}



#navbar2 a{
	background-color:transparent;
color:black;
text-align: center;
}


#navbar2 a:hover,
#navbar2 a:focus {
	background-color:#F57E37;
	border:1px solid black;
	color:black;
}


}
>>>>>>> origin/master
ul {
  display:flex;
  float:right;

}

li {
  text-decoration: none;

}

h1 .titre {
  color:white;
}

.sous-titre{
color:white;
}

#logo{
  margin:12.5%
}
.jumba {
	background-image: url(../img/image2.jpg);
	display: block;
	background-size: cover;
}
